doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap')
    link(rel='stylesheet', href='css/styles.css')
    script(src='script.js')

  body
    div.container.listing-reg
      h1 My Amazing App

      block content