extends layout

block content
  header
    nav
      ul
        li
          a(href='/home') Home
        li |
        li
          a(href='#') Blog
    #register-cta
      a(href='/register') Register
  main
    section#intro-text
      span Simple Kitchen
      h3
        | Simple &amp; Comforting
        br
        |             Recipes All Year Round
      p Pan-seared chicken, Grill shrimp, mac &amp; cheese&mdash;need we say more?
      button.submit-buttton View Recipes
    section#intro-image
      include form.pug
